<div class="jumbotron">
  <h1>KW's Blog Home Page</h1>
  <p><a class="btn btn-primary btn-lg btn-xlg" href="#" role="button">Sign Up!</a></p>
  

<%= image_tag 'orange-fractal-spiral.jpg' %><br>
 <%= link_to "About", pages_about_path %> | <%= link_to "Articles", articles_path %>
</div>

